<!DOCTYPE HTML>
<html>

<head>
    <title>{{ site.data.trans.[page.lang].title }}</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <meta name="title" content="JustDeleteMeTW">
    <meta name="description" content="{{ site.data.trans.[page.lang].tagline }}">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://jdmtw.github.io/">
    <meta property="og:title" content="JustDeleteMeTW">
    <meta property="og:description" content="{{ site.data.trans.[page.lang].tagline }}">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://jdmtw.github.io/">
    <meta property="twitter:title" content="JustDeleteMeTW">
    <meta property="twitter:description" content="{{ site.data.trans.[page.lang].tagline }}">

    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-72x72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-120x120-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="{{ site.baseurl }}/assets/icons/apple-touch-icon-144x144-precomposed.png">

    <link rel="shortcut icon" href="{{ site.baseurl }}/assets/icons/favicon.ico">
    <link type="text/css" rel="stylesheet" href="{{ site.baseurl }}/assets/css/libs/jquery.dropdown.css" />
    <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/assets/css/style.css" />
    <link type="application/opensearchdescription+xml" rel="search" href="{{ site.baseurl }}/opensearch.xml" title="JustDeleteMe">

    <script src="{{ site.baseurl }}/assets/js/libs/jquery.js"></script>
    <script src="{{ site.baseurl }}/assets/js/libs/jquery.dropdown.js"></script>
    <script src="{{ site.baseurl }}/assets/js/scripts.js"></script>

    <!-- Google Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <!-- End Google Font -->

</head>
{% if page.lang == 'ar' or page.lang == 'fa' %}
    {% assign rtl = true %}
{% else %}
    {% assign rtl = false %}
{% endif %}
<body lang="{{ page.lang }}"{% if rtl %} dir="rtl"{% endif %}>

<nav>
    <a href="https://justdeleteme.xyz">上游網站</a>
    <a href="https://github.com/jdmtw/jdmtw.github.io">原始碼</a>
    <a href="#about" class="info">關於</a>
</nav>

<header>
    <h1>Just<span>Delete</span>Me<span>TW</span></h1>
    <p class="tagline">{{ site.data.trans.[page.lang].tagline }}</p>
</header>
